*{
    font-family: 'Do Hyeon', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.header{
    display:flex;
    width: 1920px;
    margin:auto;
    height: 86px; 

}

.searchArea{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.nav{
    display:flex;
    justify-content: flex-start;
    line-height: 86;
    width:calc(1920px - 300px);
}